@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@theme {
    --font-inter: "Inter", sans-serif;    
    --font-shadows: "Shadows Into Light";

}

  .slick-prev:before,
    .slick-next:before {
      color: rgb(161, 161, 161) !important; /* Cambia el color a azul */
    }
    .slick-prev,
    .slick-next {
      background-color: rgb(255, 255, 255);
    }

